.main{
	width: 1310px;
	height: auto;
	border: 0px solid red;
	border-radius: 10px
	margin: auto;
	background-color: #fff;

}
.header{
width: 1308px;
height: 450px;
border: 1px solid #17202A;
background-image:  url(../files/bgr.jpg);

}
.header img{
	border: 1px solid red;
	overflow: hidden;
}
body{ 
background-color: #fff }
.header h1{
	color: #fff;
	font-family: Nyala;
	font size: 40px;
	text-align: center;
	padding-top: 150px;
	letter-spacing: 10px;
	word-spacing: 35px;
}
.header p{
	color: #fff;
	font-family: Nyala;
	font-size: 20px;
	text-align: left;
	padding-top: 10px;
	padding-left: 500px;

}
.buttons{
width: 1310px;
height: 40px;
border: 0px solid red;
background-color: #1C2833; 
}
.buttons h1{
	color: #fff;
	font-family: Nyala;
	font-size: 20px;
	text-align: left;
	background-color: #1C2833;

}
.content{
	width: 960px;
	height: auto;
	border: 0px solid #1C2833;
	background-color: #fefefe;
}
.left{
	width: 304px;
	height: 632px;
	border: 0px solid #1C2833;
	background-color: #fefefe;
	float:left;
	padding-left: 70px;
	padding-top: 10px;
	background-color: #1C2833;  

}
.left2{
	width: 560px;
	height: 642px;
	border: 0px solid #000;
	background-color: #1C2833;
	float:left;
	padding-left: 20px;
	padding-right: 20px;

}
.left2 h1{
	color: #fff;
	font-family: Nyala;
	font size: 40px;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 10px;
	word-spacing: 35px;
}
.left2 p{
	color: #fff;
	font-family: Nyala;
	font size: 20px
}
.right{
	width: 336px;
	height: 642px;
	border: 0px solid #000;
	background-color: #1C2839;
	float: right;
	text-align: center;
	padding-top: 0px;	
}
.right h1{color: #fff;
	font-family: Nyala;
	font size: 30px;
	padding-top: 10px;
	letter-spacing: 10px;
	word-spacing: 35px;}

.right a{color: #fff;
	font-family: Nyala;
	font size: 30px;
	margin-top: 10px;
	}



.footer{
	width: 1280px;
	height: 50px;
	border: 0px solid #000;
	background-color: #17202A;
	overflow: hidden;
	text-align: right;
	padding-right: 30px; 
}
.footer p{
	
	color: #000;
	font-family: Nyala;
	font size: 15px
	
}
.moviemain{
	width: 1310px;
	height: auto;
	border: 1px solid #000;
	background-color:#1C2833;
	color: white;

}
.bar{
width: 1310px;
height: 50px;
overflow: hidden;
background-color: #17202A;
font-size: 10px;
}
.bar a{
color: white;
text-decoration: none;
padding-left: 25px;

}

.bar a:hover{
color: yellow;
text-decoration: overline;

}

.moviemain {

overflow: hidden;
text-align: center;
	

}

.buttons{
	text-align: center;
	border: 0px solid red;

}

.buttons a{
	color: white;
	text-decoration: none;
	padding-left: 30px;
	padding-top: 10px;	

}

.buttons a:hover{
	color: yellow;
	text-decoration: overline;
	padding-top: 10px;
	
}